<%= form_for(@shoppinglist) do |f| %>
  <% if @shoppinglist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shoppinglist.errors.count, "error") %> prohibited this shoppinglist from being saved:</h2>

      <ul>
      <% @shoppinglist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
